@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#main{
    background-color: aliceblue;
    color: black;
    text-align: center;
    margin: auto;
    width: 20%;
}
h2{
    color: rgb(47, 71, 46);
}