@charset "utf-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    overflow: hidden;
    height: 100vh;
    background-color: #a642fd7e;
    margin: 0px;
}
h1{
    background-color: #8D0DFF;
    text-align: center;
    padding: 6px;
    margin-top: 0px;
}

p{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

div{
    height: 200px;
    width: 200px;
    margin: 100px;
    background-color: aliceblue;
    border-radius: 100%;
}

div.ex{
    margin-left: 20%
}

div.des{
    margin-left: 60%;
}

footer > p{
    bottom: 0;
    position: absolute;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

p.d{
    text-align: center;
    padding: 39% 0% 0% 0%;
}

p.span1{
    font-size: 12px;
    padding-left: px;
}

