@charset "UTF-08";
/*
paleta de cores 
#0091FA
#00BAE0
#00F5E0
#00E092
#78FFAC
*/
main{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 15px;
}
body{
    background-image: linear-gradient(to right,#0091FA,#00BAE0);
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 2px;
    width: 90%;
    background-color: #78FFAC;
    border-radius: 5px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 4px;
    text-align: justify;
}