@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;500;600;700&display=swap');



:root{
    /*cores*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --sombra: #063d1e;

    /*Fontes*/
    --padrao: Arial, Verdana, Helvetica, sans-serif;
    --especial: 'android', sans-serif;
    --destaque: 'Bebas Neue', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--padrao);
}



h1,h2{
    font-family: var(--especial);
    color: var(--sombra);
}

h1{
    font-size: 2em;
}

h2{
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: 100;
}

header{
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--sombra));
    min-height: 150px;
    text-shadow: 0px 2px 10px var(--sombra);
    padding-bottom: 10px;
}

header > h1{
    font-family: var(--destaque);
    color: whitesmoke;
    font-size: 3em;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: normal;

}

header > p{
    color: whitesmoke;
    font-size: 1.2em;
    padding-bottom: 20px;
    max-width: 600px;
    padding: 0px 20px 0px 10px;
    margin: auto;

}

nav{
    background-color: var(--sombra);
    padding: 10px;
    box-shadow: 0px 4px 10px var(--sombra);
}

nav > a{
    color:var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover{
    background-color: var(--cor3);
    border-radius: 4px;
    
}

nav > a:active{
    background-color: greenyellow;
    border-radius: 4px;
}
main{
    background-color: aliceblue;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    padding: 24px;

    box-shadow: 0px 0px 10px var(--sombra);

    border-radius: 0px 0px 10px 10px;
}

main a{
    padding: 2px 6px;
    text-decoration: none;
    background-color: var(--cor2);
    font-weight: bolder;
    color: var(--sombra);
    border-radius: 2px;
    transition-duration: .2s;
    
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor1);
}

main a:visited{
    background-color: var(--cor3);
    color: var(--cor0);
}

main a:active{
    background-color: #8391e1;
}
.ex::after{
    content: '\1F517';
}
main p{
    padding: 20px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    word-spacing: 4px;
}

main strong{
    color: var(--sombra);
    font-weight: bold;
}
img{
    display: block;
    margin: auto;
}

.full{  
    min-width: 100%;

}

div.video{
    background-color: #063d1e;
    margin: 0px -25px 20px -25px;
    padding: 25px;
    position: relative;
    padding-bottom: 56.5%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 10px #063d1e71;
}
aside > h3{
    color: aliceblue;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px -10px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2; 
}

footer{
    background-color: var(--sombra);
    color: aliceblue;
    text-align: center;
}


