@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;500;600;700&display=swap');



:root{
    /*cores*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --sombra: #063d1e;

    /*Fontes*/
    --padrao: Arial, Verdana, Helvetica, sans-serif;
    --especial: 'android', sans-serif;
    --destaque: 'Bebas Neue', cursive;

}
body{
    background-color: var(--cor0);
    font-family: var(--padrao)
    ;
    
}

header > h1{
    color: var(--sombra);
}
