@charset "UTF-08";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to left, #EA604D,#FF9D0A);
}

main{
    background-color: aliceblue;
    width: 65%;
    padding: 1%;
    margin: auto;
    border-radius: 12px;
    box-shadow: 8px 7px 12px #012f4477;
}
h1{
    text-align: center;
    color: #012F44;
    text-shadow: 1px 2px 5px #013449b9;
}

h2{
    color: #183C59;
}
p{
    
}